body {
	background: gray
}
h1	{
	text-align: center;
}
h3 {text-align: center;}
.img {text-align:center}
.h1 {color: white}
.h3 {color: white}
.tab{ width: 19%; background-color:black;color: white}
#i_1{color: blue}
#o_1 {color: green}
.di_1{background-color: orange; ; width: 19%; color: white}
.di_2{background-color: yellow ; width: 19%; color: blue}
#p_1 {font-size: 30px}
#p_2 {font-size: 30px; font-family: fantasy}